.article-containerbox{
    width: 1200px;
    height: auto;
    border: 10px solid #D0E5B7;
    border-radius: 15px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.tab-buttonbox{
    width: auto;
    height: 50px;
    display: flex;
}
/*tabbox 버튼 처리 CSS완료*/

.tab {
    display: none;
    /* border: 3px solid transparent; 초기에는 투명한 테두리로 설정 */
    z-index: initial;
}

/* 활성화된 탭의 스타일 */
.active-tab {
    display: block;
    border-color: #fff; /* 버튼 색상과 동일한 색으로 테두리 설정 */
}

/* 탭 버튼 스타일 */
.tab-button {
    width: 600px;
    height: 50px;
    cursor: pointer;
    background-color: #D0E5B7;
    color: black;
    border: none;
    font-size: 20px;
    /* border: 1px solid #99f0a2; */
    /* border-radius: 5px; */
}

/* 클릭 시 백그라운드 색상 고정 */
.tab-button:focus {
    background-color: white;
    color: black;
    outline: none; /* 클릭 포커스 표시 제거 */
    border-radius: 5px;
}

.article-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}



/*=================================임시로 적용하겠습니다.===================================*/
/*공통으로 사용된는 CSS*/
@font-face {
    font-family: 'TAEBAEKmilkyway';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
/*공통으로 사용되는 CSS 종료*/

/*===헤더가 시작되는 CSS===*/
.header{
    width: 100%;
    display: flex;
    justify-content: center;
    /* height: 120px; */
    /* background-color: antiquewhite; */
  
    border-bottom: 1px solid #f1f1f1;
  }
  .header-container{
    width: 1200px;
    height: 120px;
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-between;
    /* background-color: yellow; */
  }
  .header-nav1{
    font-family: 'SUITE-Regular';
    font-size: 18px;
    width: 850px;
    height: 120px;
    display: flex;
    /* align-items: center; */
    margin: 0 10px 0 20px;
    /* background-color: pink; */
  }
  
  .logo{
    width: 100px;
    height: 120px;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
  }
  .logo img{
    width: 100px;
    height: 100px;
  }
  .nav1{
    width: 650px;
    height: 90px;
    /* background-color: aqua; */
    margin: 0 20px ;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .nav1 ul{
    display: flex;
    list-style: none;
    /* align-items: flex-end; */
    /* background-color: yellow; */
  }
  .nav1 ul li{
    margin: 0 10px;
  }
  .header-nav2{
    width: 180px;
    height: 120px;
    display: flex;
    justify-content: center;
    font-family: 'SUITE-Regular';
    font-size: 18px;
    /* align-items: center; */
    /* margin: 0 10px; */
    /* background-color: blueviolet; */
  }
  .nav2-box{
    width: 180px;
    height: 90px;
    /* background-color: green; */
    display: flex;
    align-items: flex-end;
  }
  .header-nav2 ul{
    display: flex;
    list-style: none;
    font-family: 'SUITE-Regular';
    /* background-color: red; */
  }
  .header-nav2 ul li{
    display: flex;
    margin: 0 10px;
    /* background-color: antiquewhite; */
  }
/*===헤더가 종료되는 CSS===*/

/*===footer가 시작되는 CSS===*/
.footer{
    width: 100vw;
    height: 130px;
    background-color: rgb(243, 241, 241);
    font-family: 'SUITE-Regular';
    color: rgb(169, 168, 168);
}
.footer-container1{
    margin: 0 auto;
    width: 100%;
    height: 90px;
    border-bottom: 0.5px solid rgb(200, 199, 199);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1-content{
    margin: 5px 0;
    /* background-color: pink; */
    text-align: center;
}
.container1-content p{
    margin-bottom: 3px;
}
.footer-container2{
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.footer-container2 p {
    margin: 8px 0;
}
.container2-01{
    display: flex;
}
.container2-01-content{
    margin: 8px 10px;
}
/*===footer가 종료되는 CSS===*/

/*======myArticle메인입니다.=====*/
.contentbox{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.main-container{
    width: 1200px;
    height: 980px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
  }
.main-box1-1{
    width: 1200px;
    height: 900px;
}
.main-box2-title{/*최상단에 위치 할 것*/
    width: 1195px;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-top: 20px;
    border: 1px solid rgb(245, 245, 245);
    background-color: rgb(245, 245, 245);
}
.main-box2-content-content{
    width: 1200px;
    height: 54px;
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid rgb(245, 245, 245);
  
    /* text-align: center;
    justify-content: center; */
  }
  .main-box2-content-title{
    width: 780px;
    height: 54px;
    display: flex;
    align-items: center;
  
    text-align: center;
    justify-content: center;
  }
  .main-box2-content-date{
    width: 240px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .main-box2-content-management{
    width: 180px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  /* 따로 페이징 처리 위해서 .main-box1-1를 묶고 생각해야*/

  /* 페이징 처리 임시 */
  .main-box3{
    width: 1200px;
    height: 100px;
    /* background-color: yellow */
  }
  .main-box3-pagesbox{
    width: 1200px;
    height: 40px;
    display: flex;
    justify-content: center;
    /* background-color: blue; */
  }
  .main-box3-pages{
    width: 200px;
    height: 40px;
    /* background-color: palevioletred; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-box3-pages span{
    margin: 0 7px;
    font-size: 14px;
  }
